/* Gestione Generale */
body {
    margin: 0%;
}

header {
    background-image: url(/img/pattern.png);
    background-color: rgb(0, 172, 224);
    background-size: 300px;
}
#logo {
    width: 150px;
    margin-left: 100px;
    margin-top: 35px;

}

main {
    margin-left: 100px;
    margin-right: 100px;
}
/* /Gestione Generale */


/* Intestazione */
h1 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0%;
}

#grey {
    color: grey;
}

h4 {
    margin: 0%;
}

#azul {
    color: rgb(0, 201, 236);
}

h6 {
    margin: 0%;
    margin-top: 3px;
    margin-bottom: 20px;
}
/* /Intestazione */


/* specs */
section span {
    display: block;
    font-size: 11px;
}

#space {
    margin-bottom: 30px;
}

li {
    margin-left: -23px;
}

.underline {
    background-color: yellow;
}

/* TABLE */
.content-table {
    margin-top: 30px;
    text-align: left;
    border-collapse: collapse;
}

.content-table td {
    padding: 12px 0px;
}

#tableblue {
    background-color: rgb(0, 179, 224);
    color: white;
}

#tableazul {
    background-color: rgba(0, 217, 255, 0.397);
}

#tablewhite {
    background-color: rgb(255, 255, 255);
}
/* /TABLE */